<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">
  <Identity Name="PocketTavern.UWP" Publisher="CN=Developer" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="C9D0E1F2-A3B4-5678-90AB-CDEF01234567" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PocketTavern</DisplayName>
    <PublisherDisplayName>Starkka15</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.16299.0" MaxVersionTested="10.0.16299.0" />
    <PackageDependency Name="Microsoft.VCLibs.140.00.Debug" MinVersion="14.0.33519.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PocketTavern.UWP.App">
      <uap:VisualElements DisplayName="PocketTavern"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Description="AI character chat for Windows 10 Mobile"
                          BackgroundColor="#0A0A0F">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="PocketTavern" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0A0A0F" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>
